.media-play{
    position: absolute;
    text-align: center;
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 50%;
    vertical-align: baseline;
    overflow: hidden;
    display: block;
}

.picture-in-view {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.page-title-overflow {
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: bold;
    color: rgb(64, 64, 64);
    position: absolute;
    left: 80px;
    bottom: 5px;
}

h1 {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 800;
    color: rgb(64, 64, 64);
}

.mainContainer {
    display: solid;
    padding: 0;
    margin: 0;
}

.tag {
    float: left;
    margin: 0 5px 30px 0;
    width: 10px;
}

.question {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
    color: rgb(34, 34, 34);

}

.answer_hidden, .answer_shown {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 300;
    margin-left: 15px;
}

.answer_hidden {
    display: none;
}

.answer_shown {
    display: block;
}