
.media-play{
    position: absolute;
    text-align: center;
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 50%;
    vertical-align: baseline;
    overflow: hidden;
    display: block;
}

.video-in-view{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.picture-in-view{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.page-title-overflow {
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: bold;
    color: rgb(180, 179, 179);
    text-shadow: 1px 1px 2px black;
    position: absolute;
    left: 80px;
    bottom: 5px;
}

@media only screen and (min-width: 768px){
    .video-in-view {
        display: block;
    }

    .picture-in-view {
        display: none;
    }

    .page-title-overflow {
        color: rgb(64, 64, 64);
        text-shadow: none;
    }
}

.subsection-title{
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 800;
    color: rgb(91, 14, 136);
    margin-top:40px;
    margin-bottom: 15px;
}

.subsection-title-green{
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 800;
    color: rgb(43, 183, 207);
    margin-top:40px;
    margin-bottom: 15px;
}

.paragraph-main{
    font-family: 'Montserrat';
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 20px;
    position: static;
}

.paragraph{
    font-family: 'Montserrat';
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 5px;
}

ul.align-left{
    list-style-type: square;
    color: rgb(43, 183, 207);
    list-style-position: outside;
    font-family: 'Montserrat';
    font-size: 14px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
    padding-inline-start: 35px;
}

@media only screen and (min-width: 768px) {
    ul.align-left{
        margin-left: 235px;
}}

ul.align-right{
    list-style-type: square;
    color: rgb(43, 183, 207);
    list-style-position: outside;
    font-family: 'Montserrat';
    font-size: 14px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
    padding-inline-start: 35px;
}

span{
    color: black;
}

img.align-left{
    display: none;
    float: left;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 25px;
}

img.align-right{
    float: right;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 25px;
}

@media only screen and (min-width: 768px) {
    img.align-left{
        display: block;
    }
}

img.align-center{
    float: right;
    margin-right: 5%;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.imagesToShow {
    display: none;
}


@media only screen and (min-width: 1100px) {
    .imagesToShow {
        display: block;
    }
}


.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    background-color: rgb(43, 183, 207);
    color: #fff;
}

.image-flex {
    margin: 5px;
    margin-top: 15px;
    padding: 0;
}

.image-flex img {
    width: 100%;
}

@media only screen and (min-width: 768px){
    .flex-container {
        flex-direction: row;
        flex-wrap: wrap;
		max-width: 1300px;
		margin: auto;
    }

    .image-flex {
		max-width: 300px;
	}
}


.title {
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: bold;
    color: rgb(37, 37, 37);
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-decoration: none;
}

.text-image-description{
    font-family: 'Montserrat';
    font-size: 10px;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    margin-top: 10px;
    color: rgb(44, 44, 44);
}

a.watchVideo {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: bold;
    color: rgb(5, 44, 24);
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
}

a.watchVideo :hover {
    color: rgb(7, 10, 177);
}

.underweight, .normal, .overweight, .obese {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 600;
}

.underweight {
    color: rgb(247, 106, 55);
}

.overweight {
    color: rgb(247, 106, 55);
    font-weight: bold;
}

.obese {
    color: rgb(167, 23, 23);
    font-weight: bold;
}

.hidden {
    display: hidden;
}

.formTitle{
    font-family: 'Montserrat';
    font-size: 17px;
    color: rgb(91, 14, 136);
    margin-top: 10px;
    text-align: center;
}

.formContent, .formResult {
    font-family: 'Montserrat';
    font-size: 15px;
    color: black;
}

.formResult {
    font-weight: 600;
}

.calculator {
    padding: 5px 10px 5px 20px;
    width: 280px;
    box-shadow: -1px 0px 2px grey;
    background-color: white;
    position: fixed;
    right: 80px;
    top: 50%;
    z-index: 3000;
}

.calculatorTag {
    padding: 10px 5px 10px 10px;
    text-align: center;
    margin: 0;
    width: 65px;
    box-shadow: -1px 0px 2px grey;
    background-color: #180268;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 3000;
    cursor: pointer;
}

.tag {
    font-family: Roboto;
    font-size: 10px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.show {
    display: block;
}