.footer {
    background-color: rgb(39, 4, 59);
    height: 200px;
}

.bottom-nav {
    display: flex;
    justify-content: center;
    height: 40px;
    padding: 0px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.bottom-nav a {
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: 600;
    font-stretch: condensed;
    color: white;
    margin-right: 30px;
    margin-left: 30px;
    height: 25px;
    text-decoration: none;
    font-stretch: condensed;
    padding-bottom: 5px;
}

.bottom-nav a:hover {
    color: rgb(128, 128, 128);
    border-bottom: 2px solid rgb(96, 176, 230);
}

.bottom-nav a.active {
    background-color: white;
    color: rgb(91, 14, 136);
    border-bottom: 2px solid rgb(96, 176, 230);
}

.socialIcons {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.fa {
    padding: 10px;
    font-size: medium;
    text-align: center;
    border-radius: 50%;
    background: white;
    text-decoration: none;
    color: rgb(39, 4, 59);
    margin-left: 2%;
    margin-right: 1%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    padding-right: 13px; 
    padding-left: 12px;
}

.fa-instagram {
    padding-left: 11px
}
