/* // Footer// */

.bottom-nav {
    display: flex;
    justify-content: center;
}

.bottom-nav p:hover {
    background-color: white;
    color: rgb(128, 128, 128);
    border-bottom: 2px solid rgb(96, 176, 230);
}

.bottom-nav p.active {
    background-color: white;
    color: rgb(91, 14, 136);
    border-bottom: 2px solid rgb(96, 176, 230);
}

#footer p {
    color: #180268;
    text-align: center;
    margin-top: 53px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 40px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    font-stretch: condensed;
    padding-bottom: 10px;
}

#footer a {
    text-decoration: none;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.fa {
    padding: 10px;
    font-size: medium;
    text-align: center;
    border-radius: 100%;
    margin-left: 2%;
    margin-right: 0%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
