.loginBox {
    clear: both;
}

.loginForm {
    background: white;
    width: 600px;
    /* border-radius:6px; */
    margin: 0 auto 0 auto;
    /* padding:0px 0px 70px 0px; */
    /* border: black 4px solid; */
}

.fieldsAndBtns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginFormHeader {
    background-color: honeydew;
}

.loginField {
    background: #ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 15px;
    width: 250px;
    color:black;
    margin-top: 20px;
    font-size: 1em;
    border-radius: 4px;
    background-color: rgb(228, 238, 237);
}

.loginButton{
    background: #2ecc71;
    width: 125px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 4px;
    border: #27ae60 1px solid;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 16px;
}
.signupBt{
    background: #2ecc71;
    width: 125px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border-radius: 4px;
    border: #27ae60 1px solid;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 16px; 
}