.loginBox {
    clear: both;
    padding-top: 100px;
}

.loginForm {
    text-align: center;
    background: lightsteelblue;
    width:300px;
    /* border-radius:6px; */
    margin: 0 auto 0 auto;
    /* padding:0px 0px 70px 0px; */
    border: black 4px solid;
}
.loginFormHeader {
    background-color: honeydew;
}
.loginField {
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:250px;
    color:#AAAAAA;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
}
.loginButton {
    background:#2ecc71;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #27ae60 1px solid;
  
    margin-top:20px;
    margin-bottom:20px;
    margin-left:16px;
}