body{
    margin: 0;
}

.topnav {
    background-color: white;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.topnav a {
    float: left;
    color: #180268;
    text-align: center;
    padding: 8px 27px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: #180268;
    text-underline-position: below;
  }

.topnav a.active {
    background-color: rgb(248, 187, 195);
    color: black;
  }