body{
    margin: 0;
    padding: 0;
}

/* ----------- main sections:  ------------ */
.nav{   /*top navigation container */
    position: static;
    margin: 0px;
    width: 100%;
    height: 95px;
}

.media {  /*video container*/
    position: static;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 350px;
}

.content-wrapper {  /*rest of the main content*/
    position: static;
    margin-top: 20px;
    padding: 0;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;;
}

#footer {  /* footer of the page */
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: #230750;
    color: #fff;
  }

/* -------------------------------- */

.topnav {
    font-family: 'Montserrat';
    background-color: white;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.topnav a {
    float: left;
    color: #180268;
    text-align: center;
    margin-top: 53px;
    margin-right: 15px;
    margin-left: 15px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-stretch: condensed;
    padding-bottom: 10px;
}

.topnav a:hover {
    background-color: white;
    color: rgb(128, 128, 128);
    border-bottom: 2px solid rgb(96, 176, 230);
  }

.topnav a.active {
    background-color: white;
    color: rgb(91, 14, 136);
    border-bottom: 2px solid rgb(96, 176, 230);
  }

.logo-img {
    width: 60;
    height: 60;
    float: left;
    position: relative;
    margin-left: 40px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px; 
}

.subscribe{
    float: right;
    position: relative;
    margin-top: 46px;
    margin-right: 60px;
}

.subscribe a:hover{
    opacity: 0.8;
}

.subscribe a:active:before{
    opacity: 0.8;
    transform: translateY(3px);
}

/* .subscribe-button{
    float: right;
    position: relative;
    margin-top: 38px;
    margin-right: 80px;
    padding: 9px 10px;
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #230750;
    background-color:  rgb(96, 176, 230);
    border: none;
    border-radius: 20px;
    box-shadow: 0 5px #999;
}

.subscribe-button:hover {
    background-color: rgb(46, 155, 228);
    color: black;
}

.subscribe-button:active {
    background-color: rgb(46, 155, 228);
    box-shadow: 0 2px #666;
    transform: translateY(3px);
  } */

.dropdown {
    float: right;
    position: relative;
    padding: 6px;
    margin-top: 32px;
    margin-right: 20px;
    background: white;
    font-family: 'Montserrat';
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.dropbtn {
    background-color: white;
    border: none;
    font-family: 'Montserrat';
    color: rgb(85, 84, 84);
    font-size: 17px;
    margin-top: 14px;
    text-decoration: none;
    font-weight: bold;
    font-stretch: condensed;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: rgb(165, 216, 250);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: white;}

.media-play{
    position: absolute;
    text-align: center;
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 50%;
    vertical-align: baseline;
    overflow: hidden;
    display: block;
}

.video-in-view{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.page-title-overflow {
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: bold;
    color: rgb(64, 64, 64);
    position: absolute;
    left: 80px;
    bottom: 5px;
}

.subsection-title{
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 800;
    color: rgb(91, 14, 136);
    margin-top:40px;
    margin-bottom: 15px;
}

.subsection-title-green{
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 800;
    color: rgb(43, 183, 207);
    margin-top:40px;
    margin-bottom: 15px;
}

.paragraph-main{
    font-family: 'Montserrat';
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 20px;
    position: static;
}

.paragraph{
    font-family: 'Montserrat';
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 5px;
}

ul.align-left{
    list-style-type: square;
    color: rgb(43, 183, 207);
    list-style-position: outside;
    font-family: 'Montserrat';
    font-size: 14px;
    margin-top: 0px;
    margin-left: 235px;
    margin-bottom: 5px;
    padding-inline-start: 35px;
}

ul.align-right{
    list-style-type: square;
    color: rgb(43, 183, 207);
    list-style-position: outside;
    font-family: 'Montserrat';
    font-size: 14px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
    padding-inline-start: 35px;
}

span{
    color: black;
}

img.align-left{
    float: left;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 25px;
}

img.align-right{
    float: right;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 25px;
}

img.align-center{
    float: right;
    margin-right: 15%;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    height: 370px;
    background-color: rgb(43, 183, 207);
    color: #fff;
}

.image-flex {
    margin-top: 10px;
    padding: 0;
}

.title {
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: bold;
    color: rgb(37, 37, 37);
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 10px;
    text-decoration: none;
}

.text-image-description{
    font-family: 'Montserrat';
    font-size: 10px;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    margin-top: 10px;
    color: rgb(44, 44, 44);
}

a.watchVideo {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: bold;
    color: rgb(5, 44, 24);
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
}

a.watchVideo :hover{
    color: rgb(7, 10, 177);
}