body{
    margin: 0;
}

nav ul{
    margin: 0;
    padding: 0;
    border: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

.topnav {
    font-family: 'Montserrat';
    background-color: white;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    float: left;
}

.topnav a {
    float: left;
    color: #180268;
    text-align: center;
    margin-top: 50px;
    margin-right: 30px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-stretch: condensed;
    padding-bottom: 10px;
}

.topnav a:hover {
    background-color: white;
    color: grey;
    border-bottom: 2px solid rgb(216, 44, 110);
  }

.topnav a.active {
    background-color: white;
    color: black;
    border-bottom: 2px solid rgb(216, 44, 110);
  }

.logo-img {
    width: 60;
    height: 60;
    float: left;
    position: relative;
    margin-left: 40px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px; 
}

