body{
    margin: 0;
    padding: 0;
    min-height: 2000px;
}

/* ----------- main sections:  ------------ */
.nav{   /*top navigation container */
    position: static;
    margin: 0px;
    width: 100%;
    height: 95px;
}

.media {  /*video container*/
    position: static;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 350px;
}

.content-wrapper {  /*rest of the main content*/
    position: static;
    margin-top: 20px;
    padding: 0;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;;
}

#footer {  /* footer of the page */
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    background-color: #230750;
    color: #fff;
  }

/* -------------------------------- */

.topnav {
    font-family: 'Montserrat';
    background-color: white;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

.topnav a {
    float: left;
    color: #180268;
    text-align: center;
    margin-top: 53px;
    margin-right: 15px;
    margin-left: 15px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-stretch: condensed;
    padding-bottom: 10px;
}

.topnav a:hover {
    background-color: white;
    color: rgb(128, 128, 128);
    border-bottom: 2px solid rgb(96, 176, 230);
  }

.topnav a.active {
    background-color: white;
    color: rgb(91, 14, 136);
    border-bottom: 2px solid rgb(96, 176, 230);
  }

.logo-img {
    width: 60;
    height: 60;
    float: left;
    position: relative;
    margin-left: 40px;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px; 
}

.subscribe{
    float: right;
    position: relative;
    margin-top: 50px;
    margin-right: 70px;
}

.subscribe a:hover{
    opacity: 0.8;
}

.subscribe a:active:before{
    opacity: 0.8;
    transform: translateY(3px);
}

.dropdown {
    float: right;
    position: relative;
    padding: 6px;
    margin-top: 32px;
    margin-right: 20px;
    background: white;
    font-family: 'Montserrat';
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.dropbtn {
    background-color: white;
    border: none;
    font-family: 'Montserrat';
    color: rgb(85, 84, 84);
    font-size: 17px;
    margin-top: 14px;
    text-decoration: none;
    font-weight: bold;
    font-stretch: condensed;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: rgb(165, 216, 250);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: white;}


