body{
    margin: 0;
}

.topnav {
    font-family: 'Montserrat';
    background-color: white;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.topnav a {
    float: left;
    color: #180268;
    text-align: center;
    margin-top: 20px;
    margin-right: 25px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    font-stretch: condensed;
    padding-bottom: 10px;
}

.topnav a:hover {
    background-color: white;
    color: grey;
    border-bottom: 2px solid green;
  }

.topnav a.active {
    background-color: white;
    color: black;
    border-bottom: 2px solid green;
  }

#logo {
    width: 50;
    height: 50;
    padding-left: 20px;
}