
.signupForm {
    text-align: center;
    width:100%;
    margin-top: 10px;
    padding: 1px;
    background-color: rgb(243, 240, 240);
}

.formTitle {
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: bold;
    color: rgb(46, 45, 45);
}

.instructions1 {
    font-family: 'Montserrat';
    text-align: center;
    padding: 0;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    color: rgb(46, 45, 45);
}

.input-container {
    display: block;
    padding-right: 5%;
    padding-left: 5%;
    margin-left: 8%;
    margin-right: 8%;
    height: 55px;
}

.left-container {
    margin: 23px 10px 11px 10px;
    padding-left: 5%;
    padding-right: 5%;
    display: none;
    width: 130px;
}

.description {
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: rgb(46, 45, 45);
    display: none;
}

.details {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 5%;
    padding: 0;
    padding-left: 10px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: rgb(148, 148, 148) solid 1px;  
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 400;
    color: rgb(46, 45, 45);
}

.error, .nonerror {
    padding: 0;
    font-family: 'Roboto';
    font-size: 12px;
    margin: 0;
}

.error {
    color: red;
}

.nonerror {
    color: white;
}

@media only screen and (min-width: 1050px) {
    .input-container {
        display: flex;
    }

    .left-container {
        float: left;
        display: block
    }
    
    .description {
        display: block;
    }
    
    .details {
        float: left;
        margin-right: 0;
        width: 550px;
    }
    
    .error .nonerror {
        padding-left: 20%;
        margin-left: 20%
    }
}

.thankyou {
    text-align: center;
    width:100%;
    margin-top: 80px;
    padding-bottom: 30px;
    font-family: 'Montserrat';
    font-size: 40px;
}

.wrapper {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 40px;
}

.button {
    position: center;
    left: 42%;
    margin: auto;
    font-family: 'Montserrat';
    font-size: 16px;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: rgb(48, 47, 47);
    padding: 6px 15px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 20px;
}

.button:hover {background-color: rgb(128, 128, 128)}

.button:active {
  background-color: rgb(156, 156, 156);
}


