
.signupForm {
    text-align: center;
    width:100%;
    margin-top: 10px;
    padding: 1px;
    background-color: rgb(243, 240, 240);
}

.formTitle {
    font-family: 'Montserrat';
    font-size: 17px;
    font-weight: bold;
    color: rgb(46, 45, 45);
}

.instructions1 {
    font-family: 'Montserrat';
    text-align: center;
    padding: 0;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    color: rgb(46, 45, 45);
}

.headers {
    margin-left: 20%;
    max-width: 780px;
    height: 55px;
}

.title {
    font-family: 'Montserrat';
    float: left;
    margin: 26px 0px 11px 20px;
    padding: 0;
    font-size: 13px;
    font-weight: 400;
    color: rgb(46, 45, 45);
    width: 170px;
}

.details {
    margin: 0;
    padding 0;
    width: 550px;
    height: 30px;
    border-radius: 5px;
    border: rgb(148, 148, 148) solid 1px:  
}

.error, .nonerror {
    font-family: 'Montserrat';
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.error {
    color: red;
}

.nonerror {
    color: white;
}

.thankyou {
    text-align: center;
    width:100%;
    margin-top: 80px;
    padding-bottom: 30px;
    font-family: 'Montserrat';
    font-size: 40px;
}

.wrapper {
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 40px;
}

.button {
    position: center;
    left: 42%;
    margin: auto;
    font-family: 'Montserrat';
    font-size: 16px;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: rgb(48, 47, 47);
    padding: 6px 15px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #999;
}

.button:hover {background-color: rgb(81, 17, 87)}

.button:active {
  background-color: rgb(81, 17, 87);
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}


